/* footer */

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

/* end footer */

/* hr */
.hr-line {
    border-top: 1px solid #ccc;
    margin-top: 1px;
    margin-bottom: 1em;
}

/* end hr  */

#reade_more:hover{
    border: 1px solid black;
}


/* Container styles */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
    /* adjust this to match the desired height */
  }
  
  /* Search Input styles */
  .search {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease-in-out;
    /* width: 90%;  */
    max-width: 500px; 
  }
  
  /* Search icon styles */
  .fa-search {
    font-size: 20px;
    color: #ccc;
    margin-left: -40px;
     /* adjust this to match the desired margin */
    transition: all 0.3s ease-in-out;
  }
  
  /* Input hover styles */
  .search:hover {
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  /* Icon hover styles */
  /* .search:hover + .fa-search {
    color: #333;
  } */
  
/* 
  .card-x{
    margin-bottom: 1rem;
    height: 30%;
  } */

.prod-desc{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1px;
}